{% set cookieGoogleEnabled = settings.getCookieGoogleEnabled(siteHandle) %}
{% if settings.getBlockBackground(siteHandle) and not settings.getCornerPanel(siteHandle) %} 
    <div class="cm__blocked {{permissions == false or permissions == '' ? 'cm__active'}}" style="z-index:{{settings.getZIndex(siteHandle)}}"></div>
{% endif %} 
<div class="__cookiemng__ {{settings.getTheme(siteHandle)}} {{permissions == false or permissions == '' ? 'cm__active'}} {{settings.getCornerPanel(siteHandle) ? 'cm__corner'}} {{settings.getRoundedCorners(siteHandle) ? 'cm__rounded'}} {{settings.getInverted(siteHandle) ? 'cm__inverted'}}" data-google-consent="{{cookieGoogleEnabled ? 1 : 0}}" style="z-index:{{(settings.getZIndex(siteHandle) + 1)}}"  data-site-handle="{{siteHandle}}">
     <div class="cm__button cm__close" data-cm-action="onClose"></div>
     <div class="cm__container cm__full cm__active" data-cm-view="default">
          <div class="cm__content {{settings.getCornerPanel(siteHandle) ? 'cm__full'}}">
                <h3>{{settings.getCookiesHeader(siteHandle)}}</h3>
          </div>
          <div class="cm__content {{settings.getCornerPanel(siteHandle) ? 'cm__full'}}" style="{{settings.getCornerPanel(siteHandle) ? '' ? 'text-align:center;'}}">
                {{settings.getCookiesDescription(siteHandle)|nl2br}}
                {% if settings.getCookiesReadMoreLink(siteHandle)|default %}
                     <br/><a href="{{settings.getCookiesReadMoreLink(siteHandle)}}" target="_blank" style="margin-top:0.25rem;color:inherit; text-decoration:underline; font-weight:bold;">{{settings.getCookiesReadMore(siteHandle)}}</a>
                {% endif %}
          </div>
          {% if settings.getCornerPanel(siteHandle) %}
                <div class="cm__content {{settings.getCornerPanel(siteHandle) ? 'cm__full'}}">
                     {% if settings.getFunctionalCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <input disabled type="checkbox" id="cm_functionalCookies" name="functionalCookies" checked value="functional">
                                <label for="cm_functionalCookies">{{settings.getFunctionalTitle(siteHandle)}}</label>
                          </div>
                     {% endif %}
                     {% if settings.getAnalyticsCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <input type="checkbox" id="cm_analyticsCookies" name="analyticsCookies" {{"analytics" in permissions ? 'checked'}} value="analytics">
                                <label for="cm_analyticsCookies">{{settings.getAnalyticsTitle(siteHandle)}}</label>
                          </div>
                     {% endif %}
                     {% if settings.getAdvertisingCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <input type="checkbox" id="cm_advertisingCookies" name="advertisingCookies" {{"advertising" in permissions ? 'checked'}} value="advertising">
                                <label for="cm_advertisingCookies">{{settings.getAdvertisingTitle(siteHandle)}}</label>
                          </div>
                     {% endif %}
                     {% if settings.getPersonalizationCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <input type="checkbox" id="cm_personalizationCookies" name="personalizationCookies" {{"personalization" in permissions ? 'checked'}} value="personalization">
                                <label for="cm_personalizationCookies">{{settings.getPersonalizationTitle(siteHandle)}}</label>
                          </div>
                     {% endif %}
                </div>
          {% endif %}
          <div class="cm__content cm__inline-button">
                {% if not settings.getCornerPanel(siteHandle) %}
                     <div class="cm__button" data-cm-action="onFunctional">{{settings.getAcceptFunctionalButton(siteHandle)}}</div>
                     <div class="cm__button cm__outline" data-cm-action="onCustomize">{{settings.getCustomizeButton(siteHandle)}}</div>
                {% endif %}
                {% if settings.getCornerPanel(siteHandle) %}
                     <div class="cm__button cm__outline" data-cm-action="onSave">{{settings.getSaveButton(siteHandle)}}</div>
                {% endif %}
                <div class="cm__button cm__outline" data-cm-action="onAll">{{settings.getAcceptAllButton(siteHandle)}}</div>
          </div>
     </div>
     {% if not settings.getCornerPanel(siteHandle) %}
          <div class="cm__container cm__full" data-cm-view="customize">
                <div class="cm__content">
                     <h3>{{settings.getCookiesHeader(siteHandle)}}</h3>
                </div>
                <div class="cm__content" style="text-align:center;">
                     {{settings.getCookiesDescription(siteHandle)|nl2br}}
                </div>
                <div class="cm__content">
                     {% if settings.getFunctionalCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <div class="cm__accordion">
                                     <div class="cm__acc-header">
                                          <input disabled type="checkbox" id="cm_functionalCookies" name="functionalCookies" checked value="functional">
                                          <label for="cm_functionalCookies">{{settings.getFunctionalTitle(siteHandle)}}</label>
                                     </div>
                                     <div class="cm__button cm__acc-trigger"></div>
                                     <div class="cm__acc-panel">
                                          <p>{{settings.getFunctionalDescription(siteHandle)|nl2br}}</p>
                                     </div>
                                </div>
                          </div>
                     {% endif %}
                     {% if settings.getAnalyticsCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <div class="cm__accordion">
                                     <div class="cm__acc-header">
                                          <input type="checkbox" id="cm_analyticsCookies" name="analyticsCookies" {{"analytics" in permissions ? 'checked'}} value="analytics">
                                          <label for="cm_analyticsCookies">{{settings.getAnalyticsTitle(siteHandle)}}</label>
                                     </div>
                                     <div class="cm__button cm__acc-trigger"></div>
                                     <div class="cm__acc-panel">
                                          <p>{{settings.getAnalyticsDescription(siteHandle)|nl2br}}</p>
                                     </div>
                                </div>
                          </div>
                     {% endif %}
                     {% if settings.getAdvertisingCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <div class="cm__accordion">
                                     <div class="cm__acc-header">
                                          <input type="checkbox" id="cm_advertisingCookies" name="advertisingCookies" {{"advertising" in permissions ? 'checked'}} value="advertising">
                                          <label for="cm_advertisingCookies">{{settings.getAdvertisingTitle(siteHandle)}}</label>
                                     </div>
                                     <div class="cm__button cm__acc-trigger"></div>
                                     <div class="cm__acc-panel">
                                          <p>{{settings.getAdvertisingDescription(siteHandle)|nl2br}}</p>
                                     </div>
                                </div>
                          </div>
                     {% endif %}
                     {% if settings.getPersonalizationCookies(siteHandle) %}
                          <div class="cm__checkbox">
                                <div class="cm__accordion">
                                     <div class="cm__acc-header">
                                          <input type="checkbox" id="cm_personalizationCookies" name="personalizationCookies" {{"personalization" in permissions ? 'checked'}} value="personalization">
                                          <label for="cm_personalizationCookies">{{settings.getPersonalizationTitle(siteHandle)}}</label>
                                     </div>
                                     <div class="cm__button cm__acc-trigger"></div>
                                     <div class="cm__acc-panel">
                                          <p>{{settings.getPersonalizationDescription(siteHandle)|nl2br}}</p>
                                     </div>
                                </div>
                          </div>
                     {% endif %}
                </div>
                <div class="cm__content cm__inline-button">
                     <div class="cm__button" data-cm-action="onSave">{{settings.getSaveButton(siteHandle)}}</div>
                     <div class="cm__button cm__outline" data-cm-action="onFunctional">{{settings.getAcceptFunctionalButton(siteHandle)}}</div>
                     <div class="cm__button cm__outline" data-cm-action="onAll">{{settings.getAcceptAllButton(siteHandle)}}</div>
                </div>
          </div>
     {% endif %}
</div>